.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin-inline: 50px;
    padding-block: 92px 96px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style-type: circle;
}

.header__links-list-item {
    font-size: 18px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    font-size: 18px;
    text-decoration: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.header__logo-image {
    height: 100%;
}

.header__address {
    justify-self: end;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    font-size: 18px;
    line-height: 24.3px;
    padding-right: 4px;
}

.address-link {
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 165px 50px 106px;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 1.15;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    align-self: start;
}

.aligned-text_center {
    align-self: center;
    margin-right: -30px;
}

.aligned-text_right {
    align-self: end;
    margin-right: -30px;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 50px 50px;
}

.cover__description-text {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid currentColor;
    padding: 12px 32px 11px 31px;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
}

.lots {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin: 180px 24px 120px 24px;
}

.lots__heading {
    margin-left: 40px;
}

.subtitle {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    list-style-type: none;
}

.lots__card-list-item {
    min-height: 596px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    z-index: 2;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-link {
    color: #ff0000;
    text-decoration: none;
}

.card-link .card__title {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.card__text {
    z-index: 2;
    color: #fff;
    font-size: 20px;
}

.lots__look-more-link {
    margin-top: 3px;
    margin-left: 40px;
    font-size: 20px;
    text-underline-offset: 5px;
    width: fit-content;
}

.about {
    display: grid;
    gap: 72px;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    margin: 0px 24px 180px 24px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 36px 0px 0px 47px;
}

.about__logo-image {
    width: 149px;
    height: 114px;
}

.about__title {
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
    margin-block-start: 136px;
}

.about__text:first-child {
    margin-right: 5px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    margin-inline: 50px;
    padding-bottom: 82px;
}

.footer .address {
    justify-self: start;
    max-width: 100%;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    list-style: none;
}

.footer__menu-list-item {
    font-size: 18px;
}

.footer__menu-link {
    font-size: 18px;
    text-decoration: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: end;
    list-style: none;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

/* Оригинальные псевдо-классы из вашего кода */

.underline {
    position: relative;
    text-decoration: none;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.underline:hover::after {
    transform: scaleX(0);
}